h3 {
    color: teal;
    background-color: papayawhip;
}

.buttons-class button {
    color: #ffa8a8;
    background-color: cyan;
}

p {
    color: hsl(85, 100%, 45%);
    background-color: rgba(63, 41, 70, 0.4);
    /*a is for alpha, opacity */
}

body {
    background-color: #c5e;
    /*same as cc55ee*/
}