<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashDemo</title>
</head>

<body>
    <h1>FlashDemo</h1>
    <%= messages %>
    <p>If you refresh the page, the above message will be gone</p>
</body>

</html>