<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro, cumque vero molestiae delectus tenetur
        sapiente voluptates eos voluptatem reprehenderit commodi, voluptatum fuga doloremque quod sed perspiciatis quasi
        qui dolor.
        Sint quam, eos praesentium omnis magnam beatae nemo culpa nobis ad ullam quia, aspernatur fuga neque vitae odio
        quas dolor aliquam ratione natus architecto cumque! Aspernatur eveniet dignissimos dolorem qui?
        Voluptatibus sint odio iste ab consequatur recusandae dicta dolores exercitationem quod nemo distinctio incidunt
        nobis reiciendis nesciunt eum eligendi, blanditiis mollitia. Fugiat hic praesentium deleniti impedit temporibus
        sit ad odio!
    </p>
</body>

</html>